*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    .inner-container {
        max-width: 1790px;
        margin: 0 auto;
    }
}
button {
    border-radius: 10px;
    width: 305px;
    height: 91px;
    color:#D3531A;
    cursor: pointer;
    line-height: 91px;
}
.playstore-btn {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}
