*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
}
button {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color:#D3531A;
    cursor: pointer;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 115px;
    }
}
.store-buttons {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 30px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
      }
    a {
        img {
            width: 250px;
            @media screen and (min-width: 320px) and (max-width: 767px) {
                width: 100%;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              width: 100%;
            }
        }
    }
}
